<div id="header">
    <ul id="nav">
        <li>
            <a href="/profile">
                <i class="ti-user"></i>
                <%= user.fullname %> 
                <i class="nav-arrow-down ti-angle-down"></i>
            </a>
            <ul class="subnav">
                <% if(division.some((r) => user.role.includes(r))){ %>
                    <li><a href="/profile/password">Thay đổi mật khẩu</a></li>
                <% } %>
                <li><a href="/logout">Đăng xuất</a></li>
            </ul>
        </li>
        <li><a href="/">Trang chủ</a></li>
    </ul>
    <div id="notify_header">
        <a href="/noti" class="notify">THÔNG BÁO</a>
    </div>
    <div id="js-menu-mobile-btn" class="menu-mobile-btn ti-menu"></div>
</div>
