<div id="header">
    <ul id="nav">
        <li>
            <a href="#">
                <i class="ti-user"></i>
                <%= user.fullname %> 
                <i class="nav-arrow-down ti-angle-down"></i>
            </a>
            <ul class="subnav">
                <li><a href="/logout">Đăng xuất</a></li>
            </ul>
        </li>
        <li><a href="/home">Trang chủ</a></li>
    </ul>
    <div id="notify_header">
        <a href="#" class="notify">THÔNG BÁO</a>
    </div>
    <div id="js-menu-mobile-btn" class="menu-mobile-btn ti-menu"></div>
</div>
