<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <title>Quản lý tài khoản</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="themify-icons/themify-icons.css">

</head>

<body>
  <div id="header">
    <ul id="nav">
      <li>
        <a href="#">
          <i class="ti-user"></i>
          Mạch Trung Tín
          <i class="nav-arrow-down ti-angle-down"></i>
        </a>
        <ul class="subnav">
          <li><a href="#">Đăng xuất</a></li>
        </ul>
      </li>
      <li><a href="#">Trang chủ</a></li>
    </ul>
    <div id="notify_header">
      <a href="#" class="notify">THÔNG BÁO</a>
    </div>
    <div id="js-menu-mobile-btn" class="menu-mobile-btn ti-menu"></div>
  </div>

  <div id="newfeed" class="manage_account">
    <!---->
    <div id="sidebar">
      <li>
        <a href="#"><i class="icon ti-home"></i>Trang chủ</a>
      </li>
      <li>
        <a href="#" id="js-dropdown-btn"><i class="icon ti-layout"></i>Phân loại thông báo</a>
        <i class="nav-arrow-down ti-angle-down"></i>
      </li>
      <div class="dropdown-container" id="js-dropdown-container">
        <li><a href="#">Phòng đại học</a></li>
        <li><a href="#">Uỷ ban</a></li>
        <li><a href="#">Phòng chức năng</a></li>

      </div>
    </div>
    <!---->
    <div class="container">
      <div class="h2">
        <h2>QUẢN LÝ TÀI KHOẢN</h2>
      </div>
      <button class="btn-create-acc">Tạo tài khoản mới</button>
      <div class="table-acc">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tên hiển thị</th>
              <th>Tên đăng nhập</th>
              <th>Khoa</th>
              <th>Mật khẩu</th>
              <th>Tác vụ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>John</td>
              <td>cntt</td>
              <td>Doe</td>
              <td>john@example.com</td>
              <td>
                <a href="#" target="_self">Xem </a><span>|</span>
                <a href="#" id="modaledit-3">Sửa </a><span>|</span>
                <a href="#">Xoá</a>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>John</td>
              <td>cntt</td>
              <td>Doe</td>
              <td>john@example.com</td>
              <td>
                <a href="#" target="_self">Xem </a><span>|</span>
                <a href="#" id="modaledit-3">Sửa </a><span>|</span>
                <a href="#">Xoá</a>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>John</td>
              <td>cntt</td>
              <td>Doe</td>
              <td>john@example.com</td>
              <td>
                <a href="#" target="_self">Xem </a><span>|</span>
                <a href="#" id="modaledit-3">Sửa </a><span>|</span>
                <a href="#">Xoá</a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Mary</td>
              <td>cntt</td>
              <td>Moe</td>
              <td>mary@example.com</td>
              <td>
                <a href="#" target="_self">Xem </a><span>|</span>
                <a href="#" id="modaledit-3">Sửa </a><span>|</span>
                <a href="#">Xoá</a>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>cntt</td>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td>
                <a href="#" target="_self">Xem </a><span>|</span>
                <a href="#" id="modaledit-3">Sửa </a><span>|</span>
                <a href="#">Xoá</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <a href="#">&laquo;</a>
        <a class="active" href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">&raquo;</a>
      </div>
      <div class="clear"></div>
      <div><br></div>
      <!-- <div id="footer" class="footer_account_manage">
        <p>Copyright 2021 - Student Tin Hung Giang</p>
      </div> -->
    </div>
    <div id="myModal-3" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close" id="close-edit-acc">&times;</span>
        <div>
          <form action="#" method="post">

            <h3>CHỈNH SỬA TÀI KHOẢN</h3>
            <div class="name-edit">
              <label for="edit-name-acc">Tên hiển thị</label><br>
              <input type="text" id="edit-name-acc" placeholder="Nhập tên">
            </div>
            <div class="name-edit">
              <label for="edit-username-acc">Tên đăng nhập</label><br>
              <input type="text" id="edit-username-acc" placeholder="Nhập tên đăng nhập">
            </div>
            <div class="name-edit">
              <label for="edit-pass-acc">Mật khẩu</label><br>
              <input type="text" id="edit-pass-acc" placeholder="Nhập mật khẩu">
            </div>
            <div class="modal-footer">
              <button type="button" id="saveModalButton-3">Lưu thay đổi</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../javascripts/script.js"></script>
</body>

</html>