<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thay đổi mật khẩu</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="themify-icons/themify-icons.css">
</head>

<body>

    <div id="main">
        <div id="header">
            <ul id="nav">
                <li>
                    <a href="#">
                        <i class="ti-user"></i>
                        Mạch Trung Tín
                        <i class="nav-arrow-down ti-angle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="#">Đăng xuất</a></li>
                    </ul>
                </li>
                <li><a href="#">Trang chủ</a></li>
            </ul>
            <div id="notify_header">
                <a href="#" class="notify">THÔNG BÁO</a>
            </div>
            <div id="js-menu-mobile-btn" class="menu-mobile-btn ti-menu"></div>
        </div>

        <div id="content">
            <div id="sidebar">
                <li>
                    <a href="#"><i class="icon ti-home"></i>Trang chủ</a>
                </li>
                <li>
                    <a href="#" id="js-dropdown-btn"><i class="icon ti-layout"></i>Phân loại thông báo</a>
                    <i class="nav-arrow-down ti-angle-down"></i>
                </li>
                <div class="dropdown-container" id="js-dropdown-container">
                    <li><a href="#">Phòng đại học</a></li>
                    <li><a href="#">Uỷ ban</a></li>
                    <li><a href="#">Phòng chức năng</a></li>

                </div>
            </div>

            <div id="intension">
                <div class="form_signIn">
                    <form action="">
                        <h1>THAY ĐỔI MẬT KHẨU</h1>
                        <div class="field">
                            <label for="old-password">Mật khẩu cũ</label></br>
                            <input type="password" id="old-password" name="old-password"></br>
                            <label for="new-password">Mật khẩu mới</label></br>
                            <input type="password" id="new-password" name="new-password"></br>
                            <label for="confirm-password">Mật khẩu mới</label></br>
                            <input type="password" id="confirm-password" name="confirm-password"></br>
                        </div>
                        <input class="btn-signIn" type="button" name="conFirm" value="Xác nhận">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>


</html>