<div id="main">

    <%- include("./partials/header.ejs") %>

    <div id="content">

        <%- include("./partials/sidebar.ejs") %>


        <div id="intension">
            <div class="form_signIn">
                <form action="/profile/password" method="post">
                    <h1>THAY ĐỔI MẬT KHẨU</h1>
                    <div class="field">
                        <label for="old-password">Mật khẩu cũ</label></br>
                        <input type="password" id="old-password" name="password"></br>
                        <label for="new-password">Mật khẩu mới</label></br>
                        <input type="password" id="new-password" name="newPassword"></br>
                        <label for="confirm-password">Mật khẩu mới</label></br>
                        <input type="password" id="confirm-password" name="confirmPassword"></br>
                    </div>
                    <button class="btn-signIn" type="submit">Xác nhận</button>
                </form>
            </div>
        </div>
    </div>
</div>
