<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tạo thông báo</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/themify-icons/themify-icons.css">
    <script src="https://cdn.tiny.cloud/1/mgiuldkaanu2hh6jfzmtqdz3flx2bufp8tjo4ombs8s1zyon/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script src="https://cdn.tiny.cloud/1/mgiuldkaanu2hh6jfzmtqdz3flx2bufp8tjo4ombs8s1zyon/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

</head>

<body>

    <div id="main">
        <div id="header">
            <ul id="nav">
                <li>
                    <a href="#">
                        <i class="ti-user"></i>
                        Mạch Trung Tín
                        <i class="nav-arrow-down ti-angle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="#">Đăng xuất</a></li>
                    </ul>
                </li>
                <li><a href="#">Trang chủ</a></li>
            </ul>
            <div id="notify_header">
                <a href="#" class="notify">THÔNG BÁO</a>
            </div>
            <div id="js-menu-mobile-btn" class="menu-mobile-btn ti-menu"></div>
        </div>

        <div id="content">
            <div id="sidebar">
                <li>
                    <a href="#"><i class="icon ti-home"></i>Trang chủ</a>
                </li>
                <li>
                    <a href="#" id="js-dropdown-btn"><i class="icon ti-layout"></i>Phân loại thông báo</a>
                    <i class="nav-arrow-down ti-angle-down"></i>
                </li>
                <div class="dropdown-container" id="js-dropdown-container">
                    <li><a href="#">Phòng đại học</a></li>
                    <li><a href="#">Uỷ ban</a></li>
                    <li><a href="#">Phòng chức năng</a></li>

                </div>
            </div>

            <div id="intension">
                <div class="form_createNotify">
                    <form id="form" action="">
                        <h1>TẠO THÔNG BÁO MỚI</h1>
                        <div class="field">
                            <label for="title">Title</label></br>
                            <input type="text" id="title" name="title"></br>
                            <label for="file">File</label>
                            <input type="file" id="file" name="file"></input>
                            <label for="mytextarea">Content</label></br>
                            <textarea id="mytextarea" name="mytextarea"></textarea>

                        </div>

                        <input id="btnCreate" class="btn-signIn" type="submit" name="Đăng ký" value="TẠO MỚI">
                        <div id="error"></div>
                    </form>
                </div>

                <div class="print-values">
                    <p id="valueList"></p>
                </div>
            </div>
        </div>
    </div>
    <script src="../public/javascripts/main.js"></script>
</body>


</html>