<div id="main_login">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="/login/auth/local" method="post">
                <h1>Sign in</h1>
                <input type="text" placeholder="Username" name="username" />
                <input type="password" placeholder="Password" name="password" />
                <button class="login_btn">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <img src="/imgs/LogoTDTBgWhite.png" class="imageTDT" alt="">
                    <a href="/login/auth/google">
                        <button class="login_btn ghost" id="signUp">Login with Google</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
