<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Feed</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/themify-icons/themify-icons.css">
    <script src="https://cdn.tiny.cloud/1/mgiuldkaanu2hh6jfzmtqdz3flx2bufp8tjo4ombs8s1zyon/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script src="https://cdn.tiny.cloud/1/mgiuldkaanu2hh6jfzmtqdz3flx2bufp8tjo4ombs8s1zyon/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

</head>

<body>

    <div id="main">
        <div id="header">
            <ul id="nav">
                <li>
                    <a href="#">
                        <i class="ti-user"></i>
                        Mạch Trung Tín
                        <i class="nav-arrow-down ti-angle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="#">Đăng xuất</a></li>
                    </ul>
                </li>
                <li><a href="#">Trang chủ</a></li>
            </ul>
            <div id="notify_header">
                <a href="#" class="notify">THÔNG BÁO</a>
            </div>
            <div id="js-menu-mobile-btn" class="menu-mobile-btn ti-menu"></div>
        </div>

        <div id="content">
            <div id="sidebar">
                <li>
                    <a href="#"><i class="icon ti-home"></i>Trang chủ</a>
                </li>
                <li>
                    <a href="#" id="js-dropdown-btn"><i class="icon ti-layout"></i>Phân loại thông báo</a>
                    <i class="nav-arrow-down ti-angle-down"></i>
                </li>
                <div class="dropdown-container" id="js-dropdown-container">
                    <li><a href="#">Phòng đại học</a></li>
                    <li><a href="#">Uỷ ban</a></li>
                    <li><a href="#">Phòng chức năng</a></li>

                </div>
            </div>

            <div class="newfeed_content">
                <div class="newfeed_content_create">
                    <div id="firstRow_create_js" class="firstRow_create_newfeed">
                        <i class="ti-user"></i>
                        <p>What's on your mind, Hung?</p>
                    </div>
                    <div class="secondRow_create_newfeed">
                        <div id="secondRow_create_js" class="secondRow_upload">
                            <i class="ti-camera"></i>Photo/Video

                        </div>
                        <div id="secondRow_create_js" class="secondRow_upload">
                            <i class="ti-face-smile"></i>Feeling/Activity
                        </div>
                    </div>
                </div>
                <div class="newfeed_content_posts">
                    <div class="newfeed_content_post">
                        <div class="newfeed_post_header">
                            <div class="newfeed_post_info">
                                <i class="ti-user"></i>
                                <div class="post_NameDate">
                                    <p>Thiện Vsoul</p>
                                    <span>December 23, 2022</span>
                                </div>
                            </div>
                            <div class="newfeed_post_more">
                                <i class="ti-more-alt"></i>
                                <ul class="more_setting">
                                    <li>Chỉnh Sửa</li>
                                    <li>Xóa</li>
                                </ul>
                            </div>
                        </div>
                        <div class="newfeed_post_body">
                            <div class="post_body_text">
                                <p>Giờ mọi thứ không chỉ là thế này. Núm xoay vô cực giờ màu sắc cũng vô cực luôn, quá
                                    chừng màu mới đang trên đường về.</p>
                                <p>+ Thiết kế viền bezel và các đường vân giúp tăng độ bám tay.</p>
                                <p>+ Lắp siêu dễ: tháo núm xoay mặc định bằng tay và nhấn chặt núm xoay mới vào vị trí
                                    là xong.</p>
                            </div>
                            <div class="post_body_upload">
                                <!-- <img src="../public/img/post_image.jpg" alt=""> -->
                                <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                </iframe>
                            </div>
                        </div>
                        <div class="newfeed_post_comment">
                            <div class="user_comment">
                                <i class="ti-user"></i>
                                <div class="comment_text">
                                    <h5>Bùi Hải Hai</h5>
                                    <p class="comment_text_content">xin phép admin mình cần 5 bạn qua 215 Tôn Đức Thắng
                                        mua sim chạy chỉ tiêu....</p>
                                    <div class="comment_more">
                                        <i class="ti-more-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="user_comment">
                                <i class="ti-user"></i>
                                <div class="comment_text">
                                    <h5>Bùi Hải Hai</h5>
                                    <p class="comment_text_content">xin phép admin mình cần 5 bạn qua 215 Tôn Đức Thắng
                                        mua sim chạy chỉ tiêu....</p>
                                    <div class="comment_more">
                                        <i class="ti-more-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="user_comment">
                                <i class="ti-user"></i>
                                <div class="comment_text">
                                    <h5>Bùi Hải Hai</h5>
                                    <p class="comment_text_content">xin phép admin mình cần 5 bạn qua 215 Tôn Đức Thắng
                                        mua sim chạy chỉ tiêu....</p>
                                    <div class="comment_more">
                                        <i class="ti-more-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="newfeed_post_createComment">
                            <i class="ti-user"></i>
                            <input type="text" placeholder="Viết bình luận"></input>
                        </div>
                    </div>
                </div>
            </div>


            <div class="newFeed_notify">
                <div class="newfeed_notify_header">
                    <h3>THÔNG BÁO MỚI</h3>
                    <a href="#">xem tất cả</a>
                </div>
                <div class="newfeed_notify_posts">
                    <div class="newfeed_notify_post">
                        <span>[Phòng đại học]</span>
                        <span>02/01/2022</span>
                        <p>Kế hoạch TSNN/KTLN/môn thay thế TN đợt 1/2021-2022</p>
                    </div>
                    <div class="newfeed_notify_post">
                        <span>[Phòng đại học]</span>
                        <span>02/01/2022</span>
                        <p>Kế hoạch TSNN/KTLN/môn thay thế TN đợt 1/2021-2022</p>
                    </div>
                    <div class="newfeed_notify_post">
                        <span>[Phòng đại học]</span>
                        <span>02/01/2022</span>
                        <p>Kế hoạch TSNN/KTLN/môn thay thế TN đợt 1/2021-2022</p>
                    </div>
                    <div class="newfeed_notify_post">
                        <span>[Phòng đại học]</span>
                        <span>02/01/2022</span>
                        <p>Kế hoạch TSNN/KTLN/môn thay thế TN đợt 1/2021-2022</p>
                    </div>
                    <div class="newfeed_notify_post">
                        <span>[Phòng đại học]</span>
                        <span>02/01/2022</span>
                        <p>Kế hoạch TSNN/KTLN/môn thay thế TN đợt 1/2021-2022</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div id="modal">
        <div class="modal_container">
            <div class="modal_create">
                <div class="modal_header">
                    <h3>Tạo bài viết</h3>
                </div>
                <div class="modal_body">
                    <div class="modal_info">
                        <i class="ti-user"></i>
                        <p>Mạch Tín</p>
                    </div>
                    <div class="modal_text">
                        <form action="">
                            <textarea placeholder="Bạn đang nghĩ gì thế ?"></textarea>
                            <label for="file_img">Hình ảnh</label> </br>
                            <input id="file_img" name="file_img" type="file" placeholder=""> </br>
                            <label for="video_URL">Video</label> </br>
                            <input id="video_URL" name="video_URL" type="text" placeholder="URL"> </br>
                            <button type="submit" id="btn_submit_post">Đăng bài viết</button>
                        </form>
                    </div>
                </div>
                <div class="modal_close">
                    <i class="ti-close"></i>
                </div>
            </div>
        </div>

    </div>

    <script src="../public/javascripts/main.js"></script>
</body>


</html>