<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nội dung</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="themify-icons/themify-icons.css">
</head>

<body>
    <div id="main">
        <div id="header">
            <ul id="nav">
                <li>
                    <a href="#">
                        <i class="ti-user"></i>
                        Mạch Trung Tín
                        <i class="nav-arrow-down ti-angle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="#">Đăng xuất</a></li>
                    </ul>
                </li>
                <li><a href="#">Trang chủ</a></li>
            </ul>
            <div id="notify_header">
                <a href="#" class="notify">THÔNG BÁO</a>
            </div>
            <div id="js-menu-mobile-btn" class="menu-mobile-btn ti-menu"></div>
        </div>

        <div id="content">
            <div id="sidebar">
                <li>
                    <a href="#"><i class="icon ti-home"></i>Trang chủ</a>
                </li>
                <li>
                    <a href="#" id="js-dropdown-btn"><i class="icon ti-layout"></i>Phân loại thông báo</a>
                    <i class="nav-arrow-down ti-angle-down"></i>
                </li>
                <div class="dropdown-container" id="js-dropdown-container">
                    <li><a href="#">Phòng đại học</a></li>
                    <li><a href="#">Uỷ ban</a></li>
                    <li><a href="#">Phòng chức năng</a></li>

                </div>
            </div>

            <div class="content_grap">
                <div class="content_header">
                    <h1>THÔNG BÁO VỀ VIỆC HƯỞNG ỨNG CUỘC THI "CHUNG TAY PHÒNG, CHỐNG DỊCH COVID-19 TRÊN DIỆN RỘNG</h1>
                </div>
                <div class="content_text">
                    <p>Căn cứ theo kế hoạch năm học 2021-2022 đã được Ban giám hiệu phê duyệt, Phòng Tài chính thông báo
                        thời gian thu học phí cho học kỳ 2/2021-2022 sau:</p>
                    <p>A. Đối tượng: Sinh viên các khóa tuyển sinh từ năm 2020 trở về trước có kết quả đăng ký môn học
                        thành công trong học kỳ 2/2021-2022</p>
                    <p>B. Thời gian thu từ ngày 27/12/2021 đến 07/01/2022.</p>
                    <p>C. Tra cứu mức học phí phải nộp: sinh viên đăng nhập vào "Cổng thông tin sinh viên" chọn mục "Học
                        phí" chọn “Học kỳ 2 năm học 2021-2022” để biết mức học phí phải nộp trong đợt này.</p>
                    <p>D. Lấy mã giao dịch ngân hàng: sinh viên đăng nhập vào "Cổng thông tin sinh viên" chọn mục "Mã
                        giao dịch ngân hàng" chọn “Học kỳ 2 năm học 2021-2022” để lấy mã giao dịch trước khi đi thanh
                        toán. Lưu ý: sinh viên không thực hiện nộp học phí bằng các mã giao dịch ngân hàng đã quá hạn.
                    </p>
                    <p>E. Hình thức thanh toán: sinh viên đăng nhập vào "Cổng thông tin sinh viên" chọn mục "Học phí"
                        chọn “HD Thanh toán học phí” để xem các hướng dẫn thanh toán học phí tại Ngân hàng Vietcombank.
                    </p>
                    <p>Lưu ý: do hiện nay tình hình dịch bệnh COVID-19 đang diễn biến rất phức tạp, vì vậy Nhà Trường
                        khuyến khích sinh viên sử dụng các phương thức thanh toán trực tuyến để nộp học phí.</p>

                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</body>

</html>