<div id="main">
    <%- include("./partials/header.ejs") %>
        <%- include("./partials/sidebar.ejs") %>

            <div id="content">

                <div class="content_grap">
                    <div class="content_header">
                        <h1>
                            <%= notification.title %>
                        </h1>
                    </div>
                    <div class="content_text">
                        <%- notification.body %>
                    </div>
                </div>
            </div>
</div>