<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông báo</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/themify-icons/themify-icons.css">
</head>

<body>
    <div id="main">
        <div id="header">
            <ul id="nav">
                <li>
                    <a href="#">
                        <i class="ti-user"></i>
                        Mạch Trung Tín
                        <i class="nav-arrow-down ti-angle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="index.ejs">Đăng xuất</a></li>
                    </ul>
                </li>
                <li><a href="#">Trang chủ</a></li>
            </ul>
            <div id="notify_header">
                <a href="#" class="notify">THÔNG BÁO</a>
            </div>
            <div id="js-menu-mobile-btn" class="menu-mobile-btn ti-menu"></div>
        </div>
    
        <div id="content">
            <div id="sidebar">
                <li>
                    <a href="#"><i class="icon ti-home"></i>Trang chủ</a>
                </li>
                <li>
                    <a href="#" id="js-dropdown-btn"><i class="icon ti-layout"></i>Phân loại thông báo</a>
                    <i class="nav-arrow-down ti-angle-down"></i>
                </li>
                <div class="dropdown-container" id="js-dropdown-container">
                    <li><a href="#">Phòng đại học</a></li>
                    <li><a href="#">Uỷ ban</a></li>
                    <li><a href="#">Phòng chức năng</a></li>
    
                </div>
            </div>
    
            <div id="notify_manage">
                <div class="notify_search">
                    <form action="">
                        <input type="text" placeholder="Tìm kiếm theo tên thông báo">
                        <label for="department">Phòng/Ban:</label>
                        <select name="department" id="department">
                            <option value="pdh">Phòng đại học</option>
                            <option value="ptdh">Phòng trước đại học</option>
                            <option value="psdh">Phòng sau đại học</option>
                        </select>
                        <input type="button" value="Tìm kiếm">
                    </form>
                </div>
                <table class="list_notify">
                    <thead>
                        <tr>
                            <th>THÔNG BÁO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="notify_post">
                                    <h3>CHUYÊN ĐỀ: KỸ NĂNG TƯ DUY PHẢN BIỆN</h3>
                                    <p>Thời gian tổ chức: 8h30-11h15, Thứ 4, 05/01/2022 qua công cụ Zoom: Thời gian đăng
                                        ký:
                                        30/12/2021 - 03/01/2021 (thời gian có thể kết thúc sớm hơn thông báo nếu đủ sinh
                                        viên
                                        đăng
                                        ký)</p>
                                    <a href="notifyContent.html">Chi tiết thông báo</a>
                                    <div class="notify_post_info">
                                        <span>Phòng đại học</span>
                                        <span>Ngày đăng: 29/12/2021</span>
                                    </div>
                                </div>
    
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../public/javascripts/main.js"></script>
</body>


</html>