<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông báo</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="themify-icons/themify-icons.css">
</head>

<body>
    <div id="main">
        <div id="header">
            <ul id="nav">
                <li>
                    <a href="#">
                        <i class="ti-user"></i>
                        Mạch Trung Tín
                        <i class="nav-arrow-down ti-angle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="#">Đăng xuất</a></li>
                    </ul>
                </li>
                <li><a href="#">Trang chủ</a></li>
            </ul>
            <div id="notify_header">
                <a href="#" class="notify">THÔNG BÁO</a>
            </div>
            <div id="js-menu-mobile-btn" class="menu-mobile-btn ti-menu"></div>
        </div>

        <div id="content">
            <div id="sidebar">
                <li>
                    <a href="#"><i class="icon ti-home"></i>Trang chủ</a>
                </li>
                <li>
                    <a href="#" id="js-dropdown-btn"><i class="icon ti-layout"></i>Phân loại thông báo</a>
                    <i class="nav-arrow-down ti-angle-down"></i>
                </li>
                <div class="dropdown-container" id="js-dropdown-container">
                    <li><a href="#">Phòng đại học</a></li>
                    <li><a href="#">Uỷ ban</a></li>
                    <li><a href="#">Phòng chức năng</a></li>

                </div>
            </div>

            <div id="notify_manage">
                <div class="notify_search">
                    <form action="">
                        <input type="text" placeholder="Tìm kiếm theo tên thông báo">
                        <label for="department">Phòng/Ban:</label>
                        <select name="department" id="department">
                            <option value="pdh">Phòng đại học</option>
                            <option value="ptdh">Phòng trước đại học</option>
                            <option value="psdh">Phòng sau đại học</option>
                        </select>
                        <input type="button" value="Tìm kiếm">
                    </form>
                </div>
                <div class="notify_content">
                    <table>
                        <tr>
                            <th>Tiêu đề</th>
                            <th>Phòng/Khoa</th>
                            <th>Người đăng</th>
                            <th>Ngày đăng</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td><a href="#">Thông báo về việc hưởng ứng cuộc thi "chung tay phòng, chống dịch covid-19
                                    trên
                                    diện rộng</a>
                            </td>
                            <td>Công nghệ thông tin</td>
                            <td>Mạch Trung Tín</td>
                            <td>11/12/2000</td>
                            <td>
                                <a href="#">Chi tiết</a>
                                <a href="#">Chỉnh sửa</a>
                                <a href="#">Xoá</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</body>

</html>