<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý thông báo</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/themify-icons/themify-icons.css">
</head>

<body>
    <div id="main">
        <div id="header">
            <ul id="nav">
                <li>
                    <a href="#">
                        <i class="ti-user"></i>
                        Mạch Trung Tín
                        <i class="nav-arrow-down ti-angle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="#">Đăng xuất</a></li>
                    </ul>
                </li>
                <li><a href="#">Trang chủ</a></li>
            </ul>
            <div id="notify_header">
                <a href="#" class="notify">THÔNG BÁO</a>
            </div>
            <div id="js-menu-mobile-btn" class="menu-mobile-btn ti-menu"></div>
        </div>

        <div id="content">
            <div id="sidebar">
                <li>
                    <a href="#"><i class="icon ti-home"></i>Trang chủ</a>
                </li>
                <li>
                    <a href="#" id="js-dropdown-btn"><i class="icon ti-layout"></i>Phân loại thông báo</a>
                    <i class="nav-arrow-down ti-angle-down"></i>
                </li>
                <div class="dropdown-container" id="js-dropdown-container">
                    <li><a href="#">Phòng đại học</a></li>
                    <li><a href="#">Uỷ ban</a></li>
                    <li><a href="#">Phòng chức năng</a></li>

                </div>
            </div>

            <div id="notify_manage">
                <h1>QUẢN LÝ THÔNG BÁO</h1>
                <table>
                    <tr>
                        <th>Phòng ban</th>
                        <th>Người đăng</th>
                        <th>Thời gian</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Khoa công nghệ thông tin</td>
                        <td>Mạch Trung Tín</td>
                        <td>02/12/2021</td>
                        <td>
                            <a href="#">Chi tiết</a>
                            <a href="#">Chỉnh sửa</a>
                            <a href="#">Xoá</a>
                        </td>
                    </tr>
                </table>

                <table id="page-2" class="notify-table-content active-first">
                    <tr>
                        <td class="announcement-post" colspan="4">
                            <div class="announcement-post-info">
                                <p>THÔNG BÁO VỀ VIỆC HƯỞNG ỨNG CUỘC THI "CHUNG TAY PHÒNG, CHỐNG DỊCH COVID-19 TRÊN
                                    DIỆN
                                    RỘNG"</p>
                                <P>Từ 10h00 Thứ Tư ngày 13/10/2021 đến 9h00 Thứ Tư ngày 26/1/2022</P>
                                <a href="#">Chi tiết thông báo</a>
                            </div>
                            <div class="announcement-post-date">
                                <p>Khoa công nghệ thông tin </p>
                                <p>Ngày đăng: 02/12/2021</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="announcement-post" colspan="4">
                            <div class="announcement-post-info">
                                <p>THÔNG BÁO VỀ VIỆC HƯỞNG ỨNG CUỘC THI "CHUNG TAY PHÒNG, CHỐNG DỊCH COVID-19 TRÊN
                                    DIỆN
                                    RỘNG"</p>
                                <P>Từ 10h00 Thứ Tư ngày 13/10/2021 đến 9h00 Thứ Tư ngày 26/1/2022</P>
                                <a href="#">Chi tiết thông báo</a>
                            </div>
                            <div class="announcement-post-date">
                                <p>Khoa công nghệ thông tin </p>
                                <p>Ngày đăng: 02/12/2021</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="announcement-post" colspan="4">
                            <div class="announcement-post-info">
                                <p>THÔNG BÁO VỀ VIỆC HƯỞNG ỨNG CUỘC THI "CHUNG TAY PHÒNG, CHỐNG DỊCH COVID-19 TRÊN
                                    DIỆN
                                    RỘNG"</p>
                                <P>Từ 10h00 Thứ Tư ngày 13/10/2021 đến 9h00 Thứ Tư ngày 26/1/2022</P>
                                <a href="#">Chi tiết thông báo</a>
                            </div>
                            <div class="announcement-post-date">
                                <p>Khoa công nghệ thông tin </p>
                                <p>Ngày đăng: 02/12/2021</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="announcement-post" colspan="4">
                            <div class="announcement-post-info">
                                <p>THÔNG BÁO VỀ VIỆC HƯỞNG ỨNG CUỘC THI "CHUNG TAY PHÒNG, CHỐNG DỊCH COVID-19 TRÊN
                                    DIỆN
                                    RỘNG"</p>
                                <P>Từ 10h00 Thứ Tư ngày 13/10/2021 đến 9h00 Thứ Tư ngày 26/1/2022</P>
                                <a href="#">Chi tiết thông báo</a>
                            </div>
                            <div class="announcement-post-date">
                                <p>Khoa công nghệ thông tin </p>
                                <p>Ngày đăng: 02/12/2021</p>
                            </div>
                        </td>
                    </tr>

                </table>
                <table id="page-1" class="notify-table-content">
                    <tr>
                        <td class="announcement-post" colspan="4">
                            <div class="announcement-post-info">
                                <p>THÔNG BÁO ĐĂNG KÝ MÔN HỌC</p>
                                <P>Từ 15h00 Thứ Năm ngày 15/10/2021 đến 9h00 Thứ Tư ngày 20/10/2021</P>
                                <a href="#">Chi tiết thông báo</a>
                            </div>
                            <div class="announcement-post-date">
                                <p>Khoa công nghệ thông tin </p>
                                <p>Ngày đăng: 10/10/2021</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="announcement-post" colspan="4">
                            <div class="announcement-post-info">
                                <p>THÔNG BÁO ĐĂNG KÝ MÔN HỌC</p>
                                <P>Từ 15h00 Thứ Năm ngày 15/10/2021 đến 9h00 Thứ Tư ngày 20/10/2021</P>
                                <a href="#">Chi tiết thông báo</a>
                            </div>
                            <div class="announcement-post-date">
                                <p>Khoa công nghệ thông tin </p>
                                <p>Ngày đăng: 10/10/2021</p>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="pages-btn">
                    <button class="tablinks" onclick="swapPages(event, 'page-2')">1</button>
                    <button class="tablinks" onclick="swapPages(event, 'page-1')">2</button>
                </div>
            </div>


        </div>
    </div>
    </div>
    <script src="main.js"></script>
</body>

</body>

</html>