<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý thông báo</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="themify-icons/themify-icons.css">
</head>

<body>
    <div id="main">
        <div id="header">
            <ul id="nav">
                <li>
                    <a href="#">
                        <i class="ti-user"></i>
                        Mạch Trung Tín
                        <i class="nav-arrow-down ti-angle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="#">Đăng xuất</a></li>
                    </ul>
                </li>
                <li><a href="#">Trang chủ</a></li>
            </ul>
            <div id="notify_header">
                <a href="#" class="notify">THÔNG BÁO</a>
            </div>
            <div id="js-menu-mobile-btn" class="menu-mobile-btn ti-menu"></div>
        </div>

        <div id="content">
            <div id="sidebar">
                <li>
                    <a href="#"><i class="icon ti-home"></i>Trang chủ</a>
                </li>
                <li>
                    <a href="#" id="js-dropdown-btn"><i class="icon ti-layout"></i>Phân loại thông báo</a>
                    <i class="nav-arrow-down ti-angle-down"></i>
                </li>
                <div class="dropdown-container" id="js-dropdown-container">
                    <li><a href="#">Phòng đại học</a></li>
                    <li><a href="#">Uỷ ban</a></li>
                    <li><a href="#">Phòng chức năng</a></li>

                </div>
            </div>

            <div id="notify_manage">
                <h1>QUẢN LÝ THÔNG BÁO</h1>
                <div class="create_notify_btn">
                    <a href="#">Tạo thông báo mới</a>
                </div>
                <div class="notify_manage_content">
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Tên thông báo</th>
                            <th>Ngày đăng</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td> <a href="#">Thông báo về an toàn mùa covid....</a></td>
                            <td>02/12/2021</td>
                            <td>
                                <a href="#">Chi tiết</a>
                                <a href="#">Chỉnh sửa</a>
                                <a href="#">Xoá</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td> <a href="#">Thông báo về an toàn mùa covid....</a></td>
                            <td>02/12/2021</td>
                            <td>
                                <a href="#">Chi tiết</a>
                                <a href="#">Chỉnh sửa</a>
                                <a href="#">Xoá</a>
                            </td>
                        </tr>
                    </table>
                </div>


            </div>


        </div>
    </div>
    </div>
    <script src="main.js"></script>
</body>

</body>

</html>