* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

.clear {
    clear: both;
}

#main_login {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

.login_btn {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.login_btn:active {
    transform: scale(0.95);
}

.login_btn.ghost {
    background-color: transparent;
    border-color: #ffffff;
    margin-top: 20px;
}

#main_login form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

#main_login input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
}

.overlay {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
}

.overlay-right {
    right: 0;
}

.overlay-right img {
    width: 300px;
}

/* END LOGIN VIEW */

/* START HEADER */

#header {
    height: 50px;
    background-color: #0067ac;
}

#nav {
    float: right;
}

.nav-arrow-down {
    font-size: 10px;
    color: #fff;
}

#nav li {
    display: inline-block;
    position: relative;
    margin: 0 15px;
}

#nav > li > a {
    color: #fff;
}

#nav li a {
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    line-height: 50px;
}

#nav > li:hover {
    background-color: #33485c;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #33485c;
    min-width: 176px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

#notify_header {
    width: 250px;
    background-color: #2f4355;
    text-align: center;
}

#notify_header .notify {
    line-height: 50px;
    color: #fff;
    font-size: 25px;
    font-family: OpenSans;
    font-weight: bold;
    text-decoration: none;
}

.menu-mobile-btn {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    padding: 5px 10px;
    height: 50px;
    cursor: pointer;
}

/* END HEADER */

/* START CONTENT */
#content {
    display: grid;
    grid-template-columns: 250px auto;
    height: 100vh;
}

#sidebar {
    background-color: #2f4355;
}

#sidebar li {
    position: relative;
    list-style-type: none;
    width: 250px;
    padding-left: 15px;
}

#sidebar li:hover {
    background-color: #e74c3c;
    cursor: pointer;
}

#sidebar li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    padding: auto;
    line-height: 50px;
}
#sidebar .icon {
    padding-right: 10px;
}

.dropdown-container {
    display: none;
    background-color: #2a3b4c;
}

.dropdown-container li a {
    padding-left: 15px;
}

#intension {
    display: flex;
    justify-content: center;
    align-items: center;
}

#intension .form_signIn form {
    width: 500px;
    padding: 50px 50px;
    border: 1px solid black;
    border-radius: 10px;
}

#intension .form_signIn h1 {
    text-align: center;
    margin-bottom: 20px;
}
#intension .form_signIn h2 {
    margin: 15px 0;
}

.field input {
    border-radius: 20px;
    border: 1px solid black;
    background-color: #fff;
    padding: 12px 18px;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
}

.btn-signIn {
    width: 200px;
    border: none;
    background-color: #eee;
    border-radius: 20px;
    padding: 12px 2px;
    font-size: 16px;
    margin-left: 50%;
    margin-top: 30px;
    transform: translateX(-50%);
    cursor: pointer;
}

.btn-signIn:hover {
    background-color: #ccc;
}

#error {
    text-align: center;
    margin-top: 30px;
    color: #e74c3c;
}

.box {
    display: inline-block;
}

@media (max-width: 800px) {
    #notify_header {
        display: none;
    }
    #content {
        display: block;
    }
    #sidebar {
        display: none;
    }
    #intension .form_signIn form {
        border: none;
    }
}

@media (min-width: 801px) {
    #sidebar {
        display: block;
    }
}

/* END CONTENT */

/* START QUẢN LÝ THÔNG BÁO */

#notify_manage {
    margin-top: 30px;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
}

#notify_manage h1 {
    text-align: center;
    padding-bottom: 30px;
}

#notify_manage table {
    border-collapse: collapse;
    width: 100%;
}

.create_notify_btn {
    margin-bottom: 30px;
}

.create_notify_btn a {
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    background: #0067ac;
    color: #fff;
    margin-bottom: 20px;
}

.create_notify_btn a:hover {
    opacity: 0.8;
}

#notify_manage td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 16px 8px;
}

.notify_manage_content a {
    text-decoration: none;
}

.notify-table-content {
    display: none;
}

.active-first {
    display: table;
}

.pages-btn {
    text-align: center;
    margin-top: 50px;
}

.pages-btn button {
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.pages-btn button.active {
    background-color: #ccc;
}

@media (max-width: 800px) {
    .pages-btn {
        bottom: -200px;
    }
}
/* END QUẢN LÝ THÔNG BÁO */

/* START THÔNG BÁO */

#notify_manage form {
    margin-bottom: 50px;
}

#notify_manage form input:first-child {
    padding: 8px 16px;
    border-radius: 20px;
    width: 500px;
    margin-right: 50px;
    margin-bottom: 20px;
}

#notify_manage select {
    padding: 8px 16px;
    cursor: pointer;
}

#notify_manage input:last-child {
    padding: 8px 16px;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.notify_post {
    padding: 16px 16px;
    line-height: 1.5;
    background-color: #edf7fa;
    border: 1px solid rgb(231, 231, 231);
}

.notify_post h3 {
    color: #0061ad;
    font-weight: 300;
}

.notify_post a {
    text-decoration: none;
    opacity: 0.8;
    line-height: 1.8;
}

.notify_post_info {
    float: right;
    opacity: 0.8;
}

.notify_post_info span:first-child {
    border-right: 1px solid black;
    padding-right: 10px;
}
/* END THÔNG BÁO */

/* START NOTIFY CONTENT */

.content_grap {
    padding: 30px;
}

.content_header {
    text-align: center;
    color: #0061ad;
    padding-bottom: 50px;
}

.content_text {
    line-height: 1.5;
    font-size: 30px;
    font-family: "Times New Roman", serif;
}

/* END NOTIFY CONTENT */

/* START CREATE NOTIFY */

#intension .form_createNotify form {
    width: 1000px;
    padding: 50px 50px;
    border: 1px solid black;
    border-radius: 10px;
}

#intension .form_createNotify h1 {
    text-align: center;
    margin-bottom: 20px;
}
#intension .form_createNotify h2 {
    margin: 15px 0;
}

.field input {
    border-radius: 20px;
    border: 1px solid black;
    background-color: #fff;
    padding: 12px 18px;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
}

.btn-signIn {
    width: 200px;
    border: none;
    background-color: #eee;
    border-radius: 20px;
    padding: 12px 2px;
    font-size: 16px;
    margin-left: 50%;
    margin-top: 30px;
    transform: translateX(-50%);
    cursor: pointer;
}

.btn-signIn:hover {
    background-color: #ccc;
}

#intension textarea {
    height: 200px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#error {
    text-align: center;
    margin-top: 30px;
    color: #e74c3c;
}

/* END CREATE NOTIFY */
